<input type="text" @bind-value="@message" />
<input type="text" @bind-value="@text" />
<input type="button" value="Haga clic aqui" @onclick="ChangeText" />
<div>
    @message
</div>


@code{
    [Parameter]
    public string Message { get; set; }

    string message = "Un contenido";
    string text;

    protected override async Task OnInitializedAsync()
    {
        message = Message;
    }

    private void ChangeText()
    {
        message = text;
    }
}